/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {font-family: Roboto, "Helvetica Neue", "Helvetica", "Arial", san-serif; color: #666; font-style: 'bold';}
h3 {font-family: Roboto, "Helvetica Neue", "Helvetica", "Arial", san-serif; color: #666; font-style: 'bold';}
h4 {font-family: Roboto, "Helvetica Neue", "Helvetica", "Arial", san-serif; color: #666; font-style: 'bold';}