<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center mb-0">
                <h1 style="color: black;"class="mat-display-3">Bias Analyser</h1>
            </div>
        </div>
    </div>
    
    <div class="row">

        <!--SPACING START-->
        <div [ngClass]="(isExpanded || fullsize) ? 'd-none' : 'col-sm-5'"></div>
        <div [ngClass]="(isExpanded || fullsize) ? 'd-none' : 'col-sm-5'"></div>
        <!--SPACING END-->

        <div [ngClass]="(isExpanded || fullsize) ? 'col-sm-12' : 'col-sm-2'">
            <mat-expansion-panel [expanded]="isExpanded" [disabled]="isDisabled" (opened)="isExpanded=true;changePanelState()" (closed)="isExpanded=false;changePanelState()" (afterExpand)="changePanelSize()" (afterCollapse)="changePanelSize()"> 
                <mat-expansion-panel-header>
                    <mat-panel-title class="right-aligned-expansion-header">
                        {{expansionPanelHeaderText}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="mat-h3 text-center"><em>British news organisations often have opinions and biases regarding different political parties and topics<br>
                    The purpose of this tool is to, via large-scale text analysis, quantify these biases and present them in a fair and data-driven manner<br>
                    Moreover, the tool will allow you to visualise the data in various manners, to allow you to find your own trends and come to your own judgements<br>
                    Simply select a news organisation and political party to begin:</em></p>
                <div class="container" [formGroup]="startScreenForm">
                    <div class="row">
                        <div class="col sm text-center">
                            <mat-form-field>
                                <mat-label>News Organisation</mat-label>
                                <!-- For selecting the newspaper -->
                                <mat-select formControlName="selectedNewspaper" name="newspaperSelect" (selectionChange)="newNewspaper($event.value)" required>
                                    <mat-option *ngFor="let newspaper of newspapers" [value]="newspaper.value">
                                    {{newspaper.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="selectedNewspaper.errors?.required">Select a news organisation</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col sm text-center">
                            <mat-form-field>
                                <mat-label>Political Party</mat-label>
                                <!-- For selecting the political party -->
                                <mat-select formControlName="selectedPoliticalParty" name="politicalPartySelect" required>
                                    <mat-option *ngFor="let polParty of politicalParties" [value]="polParty.value">
                                    {{polParty.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="selectedPoliticalParty.errors?.required">Select a political party</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4 text-center">
                            <!-- For selecting a start date (OPTIONAL) -->
                            <mat-form-field>
                                <mat-label>Select start date <em>(Optional)</em></mat-label>
                                <input matInput #fromInput [min]="startDateMin" [max]="startDateMax" startAt="startDateMax" [matDatepicker]="startDatePicker" (dateInput)="setStartDate($event)" (dateChange)="setStartDate($event)">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4 text-center">
                            <!-- For selecting an end date (OPTIONAL) -->
                            <mat-form-field>
                                <mat-label>Select end date <em>(Optional)</em></mat-label>
                                <input matInput #toInput [min]="endDateMin" [max]="endDateMax" startAt="endDateMax" [matDatepicker]="endDatePicker" (dateInput)="setEndDate($event)" (dateChange)="setEndDate($event)">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <!-- To clear the form and start over -->
                    <div class="row py-4 justify-content-center">
                        <button mat-raised-button (click)="clearForm();">Clear</button>
                    </div>
                    <!-- To submit the form (i.e. begin analysis with the chosen parameters) -->
                    <mat-action-row class="justify-content-center pt-4 mr-3">
                        <button mat-raised-button routerLink="/processing" (click)="isExpanded=false;changePanelState();beginAnalysis()" [disabled]="!startScreenForm.valid">Analyse Bias</button>
                    </mat-action-row>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>
